* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gold;
}

.hero {
    background-color: aqua;
}

section #bio {
    background-color: blueviolet;
}

section #work {
    background-color: darkorange;
}

section #work {
    background-color: lime;
}

.content {
    background-color: mintcream;
}

.imgCard {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

/* .bg-img-nature{
} */